<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
      <div class="container">
            <div class="section_header">
              <h2 class="section_header_title">Latest Featured Jobs</h2>
            </div>
            <div class="features">
              <div class="featured_card">
                <img
                  src="./images/customer-service.jpg"
                  alt=""
                  class="featured_img" />
                <div class="card_body">
                  <h3 class="featured_title">Customer Service</h3>
                  <p class="featured_p">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="featured_icon_box">
                    <img src="./images/clock.png" alt="" class="featured_icon" />
                    Full-Time
                  </div>
                  <div class="featured_icon_box">
                    <img src="./images/location.png" alt="" class="featured_icon" />
                    Banglore
                  </div>
                 <a href="apply"><button class="featured_btn">Apply For Job</button></a>
                </div>
              </div>
              <div class="featured_card">
                <img src="./images/programming.jpg" alt="" class="featured_img" />
                <div class="card_body">
                  <h3 class="featured_title">Full-Stack Developer</h3>
                  <p class="featured_p">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="featured_icon_box">
                    <img src="./images/clock.png" alt="" class="featured_icon" />
                    Full-Time
                  </div>
                  <div class="featured_icon_box">
                    <img src="./images/location.png" alt="" class="featured_icon" />
                    Hyderabad
                  </div>
                  <a href="apply"><button class="featured_btn">Apply For Job</button></a>
                </div>
              </div>
              <div class="featured_card">
                <img src="./images/hr.jpg" alt="" class="featured_img" />
                <div class="card_body">
                  <h3 class="featured_title">HR Director</h3>
                  <p class="featured_p">Lorem ipsum dolor sit amet consectetur.</p>
                  <div class="featured_icon_box">
                    <img src="./images/clock.png" alt="" class="featured_icon" />
                    Full-Time
                  </div>
                  <div class="featured_icon_box">
                    <img src="./images/location.png" alt="" class="featured_icon" />
                    Chennai
                  </div>
                  <a href="apply"><button class="featured_btn">Apply For Job</button></a>
                </div>
              </div>
              <div class="features">
                <div class="featured_card">
                  <img
                    src="./images/hotel.jpg"
                    alt=""
                    class="featured_img" />
                  <div class="card_body">
                    <h3 class="featured_title">Hotel Management</h3>
                    <p class="featured_p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, cum.</p>
                    <div class="featured_icon_box">
                      <img src="./images/clock.png" alt="" class="featured_icon" />
                      Full-Time
                    </div>
                    <div class="featured_icon_box">
                      <img src="./images/location.png" alt="" class="featured_icon" />
                      Hyderabad
                    </div>
                   <a href="apply"><button class="featured_btn">Apply For Job</button></a>
                  </div>
                </div>
                
         
</body>
</html>